@import "base/base";
@import "~tailwindcss/base";

@import "~tailwindcss/components";
@import "components/bouton";
@import "components/lien";
@import "components/panel";
@import "components/input";
@import "components/tooltip";
@import "components/table";
@import "~tailwindcss/utilities";
@import "utilities/grow";
