.btn {
  @apply py-2 px-4 cursor-pointer font-bold rounded-lg;
  :focus {
    @apply outline-none;
  }

  &.btn-xs {
    @apply py-1 px-2 text-xs;
  }

  &.btn-xl {
    @apply py-3 px-6 text-xl;
  }

  &.btn-valider {
    @apply text-white bg-green-400 border border-green-600;
    :hover {
      @apply bg-green-500;
    }
  }

  &.btn-annuler {
    @apply text-gray-500 bg-gray-100 border border-gray-600;
    :hover {
      @apply bg-gray-200;
    }
  }

  &.btn-supprimer {
    @apply text-white bg-red-400 border border-red-600;
    :hover {
      @apply bg-red-500;
    }
  }

  &.btn-action {
    @apply text-white bg-teal-400 border border-teal-600;
    :hover {
      @apply bg-teal-500;
    }
  }
}
