.btn {
  @apply py-2 px-4 cursor-pointer font-bold rounded-lg text-base;
}

.btn:focus {
  @apply outline-none;
}

.btn-xs {
  @apply py-1 px-2 text-xs;
}

.btn-xl {
  @apply py-3 px-6 text-xl;
}

.btn-valider {
  @apply text-white bg-green-400  border border-green-600;
}

.btn-valider:hover {
  @apply text-white bg-green-500  border border-green-600;
}

.btn-annuler {
  @apply text-gray-500 bg-gray-100 border border-gray-600;
}

.btn-annuler:hover {
  @apply text-gray-500 bg-gray-200 border border-gray-600;
}
