.debug-screens:before {
  position: fixed;
  z-index: 2147483647;
  bottom: 0;
  left: 0;
  padding: .3333333em .5em;
  font-size: 12px;
  line-height: 1;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 0 1px #fff;
  content: "screen: xs"
}

@media (min-width: 640px) {
  .debug-screens:before {
    content: "screen: sm"
  }
}

@media (min-width: 768px) {
  .debug-screens:before {
    content: "screen: md"
  }
}

@media (min-width: 1024px) {
  .debug-screens:before {
    content: "screen: lg"
  }
}

@media (min-width: 1280px) {
  .debug-screens:before {
    content: "screen: xl"
  }
}
