.label {
  @apply ml-1 my-2;
  span.obligatoire {
    @apply text-red-500 mr-1;
  }
}

.message {
  @apply text-xs ml-1 my-2;
  &.erreur {
    @apply text-red-500;
  }
}

.input {
  @extend .form-input;
  @apply rounded-lg;
  &.input:focus {
    @apply outline-none shadow-md border-blue-500;
  }

  &.input-valide {
    @apply border-green-500 bg-green-100 text-green-500;
  }

  &.erreur {
    @apply border-red-500 bg-red-100 text-red-500;
    &::placeholder {
      @apply text-red-300;
    }
  }

  &.input-icone-left {
    @apply pl-10 mt-0 mb-0;
  }

  &.input-icone-right {
    @apply pr-4 mt-0 mb-0;
  }
}

.select {
  @extend .form-select;
  @apply rounded-lg;
  &.select:focus {
    @apply outline-none shadow-md border-blue-500;
  }

  &.select-valide {
    @apply border-green-500 bg-green-100 text-green-500;
  }

  &.erreur {
    @apply border-red-500 bg-red-100 text-red-500;
    &::placeholder {
      @apply text-red-300;
    }
  }

  &option {
    @apply bg-white;
  }
}

.textarea {
  @extend .form-textarea;
  @apply rounded-lg;
  &.textarea:focus {
    @apply outline-none shadow-md border-blue-500;
  }

  &.textarea-valide {
    @apply border-green-500 bg-green-100 text-green-500;
  }

  &.erreur {
    @apply border-red-500 bg-red-100 text-red-500;
    &::placeholder {
      @apply text-red-300;
    }
  }
}
