.switch {
  @apply relative inline-block;
  width: 60px;
  height: 34px;

  input {
    @apply opacity-0 w-0 h-0;

    &:checked + .slider {
      @apply bg-green-400;

      &:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }

    &:focus + .slider {
      @apply shadow-md;
    }
  }

  .slider {
    @apply absolute cursor-pointer inset-0 bg-gray-400;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      @apply absolute bg-white;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}

.switch-xs {
  @apply relative inline-block;
  width: 40px;
  height: 22px;

  input {
    @apply opacity-0 w-0 h-0;

    &:checked + .slider {
      @apply bg-green-400;

      &:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
      }
    }

    &:focus + .slider {
      @apply shadow-md;
    }
  }

  .slider {
    @apply absolute cursor-pointer inset-0 bg-gray-400;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      @apply absolute bg-white;
      content: "";
      height: 16px;
      width: 16px;
      left: 3px;
      bottom: 3px;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.round {
      border-radius: 22px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}

.switch, .switch-xs {
  &.erreur {
    .slider {
      @apply border-red-500 bg-red-400;
    }
  }
}
