.tableau-container {
  @apply w-full bg-white shadow-xl rounded-lg px-4 py-4;
  * {
    @apply text-sm;
  }

  table {
    @apply table-fixed rounded-lg w-full;
    thead {
      tr {
        th {
          @apply font-medium align-middle py-2 px-4;
        }
      }
    }

    tbody {
      tr {
        @apply border-t border-gray-400;
        &:even {
          @apply bg-gray-100;
        }

        &:hover {
          @apply bg-gray-200;
        }

        td {
          @apply align-middle py-2 px-4 border-r border-gray-200 break-words;
          &:first-child {
            @apply border-l-0;
          }

          &:last-child {
            @apply border-r-0;
          }
        }
      }
    }
  }
}
